<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.foodmanage.mapper.CommodityMapper">
    <select id="queryAll" resultType="com.example.foodmanage.entity.Commodity" parameterType="com.example.foodmanage.bo.CommodityBO">
        SELECT
        ANY_VALUE(com.`commodityname`) as commodityname,com.`commodityid`,com.`storeid`
        FROM commodity com,commoditydetail detail,storeinfo store
        WHERE com.`storeid`=store.`storeid`
        AND  detail.`commodityid`=com.`commodityid`
         <if test="storeid!=null">
          and  com.`storeid`=#{storeid}
         </if>
         <if test="detailsize!=null and detailsize!=-1">
             and detail.detailsize=#{detailsize}
         </if>
         <if test="temperature!=null and temperature!=-1">
             and detail.temperature=#{temperature}
         </if>
        GROUP BY com.`commodityname`
    </select>
    <select id="selectOneCommodity" resultType="com.example.foodmanage.entity.Commodity">
        select * from commodity where commodityid=#{id}
    </select>
</mapper>
