<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.foodmanage.mapper.CommodityDetailMapper">
    <select id="selectOneInfo" resultType="com.example.foodmanage.entity.CommodityDetail">
        SELECT * FROM `commoditydetail` WHERE `detailid`=#{detailId}
    </select>
    <select id="detailCom" resultType="com.example.foodmanage.entity.CommodityDetail">
        select * from  commoditydetail
        where commodityid=#{commodityid}
        AND detailsize=#{detailsize}
        AND temperature=#{temperature}
    </select>
</mapper>